<!DOCTYPE html>
  <html>
  <head>
    <title></title>
  </head>
  <body>
    <div>
      <div class="container-fluid">
        
        <nav class="navbar navbar-inverse">
        <%= image_tag("logo.png",:class => "img_preview")%>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'sign out',session_destroy_path%>
            </li>
            <!-- <li><button type="button" class="btn btn-success btn-md btn-space1" data-toggle="modal" data-target="#myModal1">Sign out</button>
            </li> -->
          </ul>
        </nav>
      </div>
    </div>
    <%= button_to "create new event",event_form_path,:class => "eventbutton",method: :get%>
    <div class = "row">
    <div class = "col-sm-8">
    <div class = "container">
    	
    	<h3>Events List</h3><br>
    	
    	
    	<h4>Event Organiser</h4>
    	
    </div>	

    </div>
    
     </div> 

</body>
</html>